@import "variables.scss";

/*
 * Base structure
 */

html {
  height: 100%;
  background-color: $background-color;
  overflow: hidden;
}

body {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  color: $text-color;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  overflow-y: auto;
  background-color: transparent;
}

main {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*
 * Overriding pre
 */

pre {
  color: $text-color;
}

/*
 * Overriding links
 */

a,
a:focus,
a:hover {
  color: $link-color;
}

.btn-link,
.btn-link:focus,
.btn-link:hover {
  color: $link-color;
}

pre a,
pre a:focus,
pre a:hover {
  color: $text-color;
}

h2 a,
h2 a:focus,
h2 a:hover {
  color: $text-color;
  text-decoration: none;
}

.dropdown-item:active {
  background-color: $link-color;
}

/*
 * Overriding buttons
 */

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: $text-color;
  border: .05rem solid $text-color;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: $text-color;
  background-color: #aaa;
  border: .05rem solid $text-color;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.bg-primary {
  background-color: #6c757d !important;
}

/*
 * Overriding forms
 */

.form-control:focus {
  border-color: $text-color;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

/*
 * Overriding cards
 */

.card-header {
  background-color: $card-header-background-color;
}

.card-body {
  background-color: $card-body-background-color;
}

/*
 * Custom
 */

.masthead {
  margin-bottom: 2rem;
}

.cover-container {
  max-width: 42em;
}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.mastfoot {
  color: rgba(255, 255, 255, .5);
}

.github-fork-ribbon:before {
  background-color: $link-color;
}

.github-fork-ribbon:after {
  text-shadow: 0 -.1em rgba(0, 0, 0, 0.15);
  color: $background-color;
  border-color: $background-color;
}
